.env
node_modules/
.venv/
venv/
__pycache__/
output.txt
output.csv
**.db
**.exe
dist/
build/
**.pem
**.key
!white_list_3/db/gravity_template.db
wg0.conf
init-db.sql
tts-azure-web/

server/shogihome
server/etc-pihole/
server/data/
server/logs/
server/runner/
server/config/
server/cache/
server/media/
server/vw-data/
server/samba/