[Unit]
Description=shutdown-cui

[Service]
ExecStart=/opt/shutdown-cui/.venv/bin/python /opt/shutdown-cui/shutdown-cui.py
Restart=always
RestartSec=1
User=root
Group=root
WorkingDirectory=/opt/shutdown-cui

[Install]
WantedBy=multi-user.target