services:
  nginx:
    image: nginx:1.29.3
    # for alloy
    container_name: nginx
    #ports:
    #  - "8080:80"
    #  - "80:80"
    #  - "443:443"
    network_mode: host
    volumes:
      # custom domain config
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
      # - ./nginx.conf:/etc/nginx/sites-available/xxx:ro is for service version??
      # Mount Let's Encrypt certificates
      - /etc/letsencrypt:/etc/letsencrypt:ro
      - ./shogihome/docs/webapp:/usr/share/nginx/html/shogihome:ro
    depends_on:
      - searxng
    restart: unless-stopped

  redis:
    container_name: redis
    image: docker.io/valkey/valkey:8-alpine
    command: valkey-server --save 30 1 --loglevel warning
    restart: unless-stopped
    network_mode: host
    volumes:
      - valkey-data2:/data
    logging:
      driver: "json-file"
      options:
        max-size: "1m"
        max-file: "1"
# https://github.com/searxng/searxng-docker/blob/master/
  searxng:
    container_name: searxng
    image: docker.io/searxng/searxng:latest
    restart: unless-stopped
    # ports:
    #   # https://github.com/searxng/searxng-docker/issues/20
    #   - "127.0.0.1:8081:8081"
    network_mode: host
    volumes:
      - ./searxng:/etc/searxng:rw
      - searxng-data:/var/cache/searxng:rw
      # https://github.com/searxng/searxng-docker/blob/master/README.md
    environment:
      - SEARXNG_BASE_URL=http://${SEARXNG_HOSTNAME:-localhost}/
      # https://github.com/searxng/searxng-docker/issues/423
      - BIND_ADDRESS=0.0.0.0:8081
      - GRANIAN_HOST=0.0.0.0
      - GRANIAN_PORT=8081
    logging:
      driver: "json-file"
      options:
        max-size: "1m"
        max-file: "1"

  pihole:
      container_name: pihole
      image: pihole/pihole:latest
      #ports:
        # DNS Ports
      #  - "53:53/tcp"
      #  - "53:53/udp"
        # Default HTTP Port
      #  - "80:80/tcp"
        # Default HTTPs Port. FTL will generate a self-signed certificate
      #  - "443:443/tcp"
        # Uncomment the below if using Pi-hole as your DHCP Server
        #- "67:67/udp"
        # Uncomment the line below if you are using Pi-hole as your NTP server
        #- "123:123/udp"
      environment:
        # Set the appropriate timezone for your location from
        # https://en.wikipedia.org/wiki/List_of_tz_database_time_zones, e.g:
        TZ: 'Europe/Berlin'
        # Set a password to access the web interface. Not setting one will result in a random password being assigned
        FTLCONF_webserver_api_password: 'correct horse battery staple'
        # If using Docker's default `bridge` network setting the dns listening mode should be set to 'ALL'
        FTLCONF_dns_listeningMode: 'ALL'
        # https://docs.pi-hole.net/docker/configuration/
        FTLCONF_dns_upstreams: '8.8.8.8;1.1.1.1'
        FTLCONF_webserver_port: '8082,8443s'
        FTLCONF_debug_api: 'true'
      network_mode: host
      # Volumes store your data between container upgrades
      # https://gist.github.com/kaczmar2/027fd6f64f4e4e7ebbb0c75cb3409787
      volumes:
        # For persisting Pi-hole's databases and common configuration file
        - './etc-pihole:/etc/pihole'
        # Uncomment the below if you have custom dnsmasq config files that you want to persist. Not needed for most starting fresh with Pi-hole v6. If you're upgrading from v5 you and have used this directory before, you should keep it enabled for the first v6 container start to allow for a complete migration. It can be removed afterwards. Needs environment variable FTLCONF_misc_etc_dnsmasq_d: 'true'
        #- './etc-dnsmasq.d:/etc/dnsmasq.d'
      cap_add:
        # See https://github.com/pi-hole/docker-pi-hole#note-on-capabilities
        # Required if you are using Pi-hole as your DHCP server, else not needed
        - NET_ADMIN
        # Required if you are using Pi-hole as your NTP client to be able to set the host's system time
        - SYS_TIME
        # Optional, if Pi-hole should get some more processing time
        - SYS_NICE
      restart: unless-stopped
  wireguard:
    image: linuxserver/wireguard:latest
    container_name: wireguard
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Berlin
      - SERVERURL=10.10.0.1
    volumes:
      # /config/wg0.conf
      - /etc/wireguard:/config
      - /lib/modules:/lib/modules
    # sysctls:
    #   - net.ipv4.conf.all.src_valid_mark=1
    restart: unless-stopped
    network_mode: host
   # https://dev.to/teetoflame/setting-up-a-gitlab-server-community-edition-and-a-gitlab-runner-using-docker-compose-ob6
  gitlab-server:
        image: 'gitlab/gitlab-ce:latest'
        container_name: gitlab-server
        hostname: 'gitlab.example.com'
        environment:
          GITLAB_OMNIBUS_CONFIG: |
            external_url 'http://localhost:8088'  # Put the IP of your server
            gitlab_rails['initial_root_password'] =  "$GITLAB_PASSWORD"  # Set your initial root password here
        # ports:
        #  - '8088:8088'  # Expose GitLab on port 8088
        network_mode: host
        volumes:
          - ./config:/etc/gitlab  # Persist GitLab configuration
          - ./logs:/var/log/gitlab  # Persist GitLab logs
          - ./data:/var/opt/gitlab  # Persist GitLab data
        restart: always

  gitlab-runner:
      image: 'gitlab/gitlab-runner:latest'
      container_name: gitlab-runner
      volumes:
          - /var/run/docker.sock:/var/run/docker.sock
          - ./runner/config:/etc/gitlab-runner
      restart: always

  vaultwarden:
    image: vaultwarden/server:latest
    container_name: vaultwarden
    restart: unless-stopped
    network_mode: host
    environment:
      # https://github.com/dani-garcia/vaultwarden/discussions/4497
        - DOMAIN=https://password.lovekapibarasan.org
        - ROCKET_PORT=8083
    volumes:
      - ./vw-data/:/data/
    # ports:
    #  - 80:80

  # 共通DB
  db:
    image: mariadb:latest
    container_name: shared_mariadb
    network_mode: host
    volumes:
      - db_data:/var/lib/mysql
    restart: always
    command: --port=3306
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
      WORDPRESS_DB_PASSWORD: ${WORDPRESS_DB_PASSWORD}
      ROUNDCUBE_DB_PASSWORD: ${ROUNDCUBE_DB_PASSWORD}
    entrypoint: >
      bash -c "
      cat > /docker-entrypoint-initdb.d/init-db.sh << 'EOF'
      #!/bin/bash
      set -e
      mysql -uroot -p\"\$MYSQL_ROOT_PASSWORD\" <<-EOSQL
          CREATE DATABASE IF NOT EXISTS roundcube;
          CREATE USER IF NOT EXISTS 'roundcube'@'%' IDENTIFIED BY '\$ROUNDCUBE_DB_PASSWORD';
          GRANT ALL PRIVILEGES ON roundcube.* TO 'roundcube'@'%';
          
          CREATE DATABASE IF NOT EXISTS wordpress;
          CREATE USER IF NOT EXISTS 'wordpress'@'%' IDENTIFIED BY '\$WORDPRESS_DB_PASSWORD';
          GRANT ALL PRIVILEGES ON wordpress.* TO 'wordpress'@'%';
      
          FLUSH PRIVILEGES;
      EOSQL
      EOF
      chmod +x /docker-entrypoint-initdb.d/init-db.sh &&
      exec docker-entrypoint.sh mariadbd --port=3306
      "

  wordpress:
      depends_on:
        - db
      image: wordpress:latest
      # ports:
      #  - "8080:80"
      network_mode: host
      restart: always
      environment:
        WORDPRESS_DB_HOST: 127.0.0.1:3306
        WORDPRESS_DB_USER: wordpress
        WORDPRESS_DB_PASSWORD: ${WORDPRESS_DB_PASSWORD}
        WORDPRESS_DB_NAME: wordpress
      volumes:
        - wordpress_data:/var/www/html

# https://github.com/dockur/samba/blob/master/compose.yml
  samba:
    image: dockurr/samba
    container_name: samba
    environment:
      NAME: "Data" # Folder name
      USER: "samba" # user name
      PASS: "$SAMBA_PASSWORD"
      # Read and Write
      RW: true      # Optional, default true
      UID: 1000    # Optional, default 1000
      GID: 1000    # Optional, default 1000
    # ports:
    #  - 445:445
    network_mode: host
    volumes:
      - ./samba:/storage
    restart: always

# https://blog.estampie.work/archives/3343
  mailserver:
    image: docker.io/mailserver/docker-mailserver:latest
    container_name: mailserver
    env_file: mailserver.env
    hostname: mail.example.com
    # ports:
    #  - "25:25"     # SMTP
    #  - "143:143"   # IMAP
    #  - "587:587"   # SMTP submission
    #  - "993:993"   # IMAPS
    volumes:
      - ./data/maildata:/var/mail
      - ./data/mailstate:/var/mail-state
      - ./data/maillogs:/var/log/mail
      - ./config:/tmp/docker-mailserver
      - /etc/localtime:/etc/localtime:ro
    network_mode: host
    cap_add:
      - NET_ADMIN
    restart: unless-stopped
    stop_grace_period: 1m
    healthcheck:
      test: "ss --listening --ipv4 --tcp | grep --silent ':smtp' || exit 1"
      timeout: 3s
      retries: 5

  # Webメールクライアント (Roundcube)
  roundcube:
    image: roundcube/roundcubemail:latest
    container_name: roundcube
    # ports:
    #  - "8080:80"
    environment:
      ROUNDCUBEMAIL_DB_TYPE: mysql # MariaDB is originated from mysql
      ROUNDCUBEMAIL_DB_HOST: 127.0.0.1:3306
      ROUNDCUBEMAIL_DB_USER: roundcube
      ROUNDCUBEMAIL_DB_PASSWORD: ${ROUNDCUBE_DB_PASSWORD}
      ROUNDCUBEMAIL_DB_NAME: roundcube
      ROUNDCUBEMAIL_DEFAULT_HOST: ssl://lovekapibarasan.org # mail.domain.com
      ROUNDCUBEMAIL_SMTP_SERVER: ssl://lovekapibarasan.org
    volumes:
      - roundcube_date:/var/www/html
    depends_on:
      - mailserver
      - db
    restart: unless-stopped
    network_mode: host
    command: >
      bash -c "
      sed -i 's/Listen 80/Listen 8085/g' /etc/apache2/ports.conf &&
      sed -i 's/:80/:8085/g' /etc/apache2/sites-available/000-default.conf &&
      apache2-foreground
      "


volumes:
  valkey-data2:
  searxng-data:
  db_data:
  wordpress_data: