services:
  nginx:
    image: nginx:1.29.3
    # for alloy
    container_name: nginx
    #ports:
    #  - "8080:80"
    #  - "80:80"
    #  - "443:443"
    network_mode: host
    volumes:
      # custom domain config
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
      # - ./nginx.conf:/etc/nginx/sites-available/xxx:ro is for service version??
      # Mount Let's Encrypt certificates
      - /etc/letsencrypt:/etc/letsencrypt:ro
      - ./shogihome/docs/webapp:/usr/share/nginx/html/shogihome:ro
    restart: unless-stopped

  redis:
    container_name: redis
    image: docker.io/valkey/valkey:8-alpine
    command: valkey-server --save 30 1 --loglevel warning
    restart: unless-stopped
    volumes:
      - valkey-data2:/data
    logging:
      driver: "json-file"
      options:
        max-size: "1m"
        max-file: "1"
    networks:
      - network

# https://github.com/searxng/searxng-docker/blob/master/
  searxng:
    container_name: searxng
    image: docker.io/searxng/searxng:latest
    restart: unless-stopped
    ports:
       - "127.0.0.1:8081:8080"
    volumes:
      - ./searxng:/etc/searxng:rw
      - searxng-data:/var/cache/searxng:rw
    environment:
      - SEARXNG_BASE_URL=http://${SEARXNG_HOSTNAME:-localhost}/
    depends_on:
      - redis
    logging:
      driver: "json-file"
      options:
        max-size: "1m"
        max-file: "1"
    networks:
      - network

  pihole:
      container_name: pihole
      image: pihole/pihole:latest
      ports:
        # DNS Ports
        - "53:53/tcp"
        - "53:53/udp"
        # Default HTTP Port
        - "8082:80/tcp"
        # Default HTTPs Port. FTL will generate a self-signed certificate
        #- "443:443/tcp"
        # Uncomment the below if using Pi-hole as your DHCP Server
        #- "67:67/udp"
        # Uncomment the line below if you are using Pi-hole as your NTP server
        #- "123:123/udp"
      environment:
        # Set the appropriate timezone for your location from
        # https://en.wikipedia.org/wiki/List_of_tz_database_time_zones, e.g:
        TZ: 'Europe/Berlin'
        # If using Docker's default `bridge` network setting the dns listening mode should be set to 'ALL'
        FTLCONF_dns_listeningMode: 'ALL'
        # https://docs.pi-hole.net/docker/configuration/
        FTLCONF_dns_upstreams: '8.8.8.8;1.1.1.1'
        #FTLCONF_webserver_port: '8082,8443s'
        FTLCONF_debug_api: 'true'
      # Volumes store your data between container upgrades
      # https://gist.github.com/kaczmar2/027fd6f64f4e4e7ebbb0c75cb3409787
      volumes:
        # For persisting Pi-hole's databases and common configuration file
        - pihole:/etc/pihole
        # Uncomment the below if you have custom dnsmasq config files that you want to persist. Not needed for most starting fresh with Pi-hole v6. If you're upgrading from v5 you and have used this directory before, you should keep it enabled for the first v6 container start to allow for a complete migration. It can be removed afterwards. Needs environment variable FTLCONF_misc_etc_dnsmasq_d: 'true'
        #- './etc-dnsmasq.d:/etc/dnsmasq.d'
      cap_add:
        # See https://github.com/pi-hole/docker-pi-hole#note-on-capabilities
        # Required if you are using Pi-hole as your DHCP server, else not needed
        - NET_ADMIN
        # Required if you are using Pi-hole as your NTP client to be able to set the host's system time
        - SYS_TIME
        # Optional, if Pi-hole should get some more processing time
        - SYS_NICE
      restart: unless-stopped

  wireguard:
    image: linuxserver/wireguard:latest
    container_name: wireguard
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Berlin
      - SERVERURL=10.10.0.1
    volumes:
      # /config/wg0.conf
      - /etc/wireguard:/config
      - /lib/modules:/lib/modules
    # sysctls:
    #   - net.ipv4.conf.all.src_valid_mark=1
    restart: unless-stopped
    network_mode: host

  # https://dev.to/teetoflame/setting-up-a-gitlab-server-community-edition-and-a-gitlab-runner-using-docker-compose-ob6
  gitlab-server:
    image: 'gitlab/gitlab-ce:latest'
    container_name: gitlab-server
    hostname: 'gitlab.lovekapibarasan.org'
    environment:
          GITLAB_OMNIBUS_CONFIG: |
            external_url 'https://gitlab.lovekapibarasan.org'  # Put the IP of your server
            gitlab_rails['gitlab_shell_host'] = 'gitlab.lovekapibarasan.org'
            gitlab_rails['gitlab_shell_ssh_port'] = 2224
            nginx['listen_port'] = 80
            nginx['listen_https'] = false  #  コンテナ内では HTTPS 不要
            gitlab_rails['trusted_proxies'] = ['nginx']  #  Nginx を信頼
            gitlab_rails['initial_root_password'] =  "$GITLAB_PASSWORD"  # Set your initial root password here
    ports:
      - '8088:80'  # Expose GitLab on port 8088
      - '2224:22' # Do not use ssh on 22 in host. sudo ss -tlnp | grep sshd
    volumes:
      - ./config:/etc/gitlab  # Persist GitLab configuration
      - ./logs:/var/log/gitlab  # Persist GitLab logs
      - ./data:/var/opt/gitlab  # Persist GitLab data
    restart: always

  vaultwarden:
    image: vaultwarden/server:latest
    container_name: vaultwarden
    restart: unless-stopped
    environment:
      # https://github.com/dani-garcia/vaultwarden/discussions/4497
        - DOMAIN=https://password.lovekapibarasan.org
       # - ROCKET_PORT=8083
    volumes:
      - vw-data:/data/
    ports:
      - '8083:80'

  db:
    image: mariadb:latest
    container_name: db
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
      - ./init-db.sql:/docker-entrypoint-initdb.d/init-db.sql:ro
    restart: always
    environment:
      MARIADB_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}  # MYSQL_ → MARIADB_
      ROUNDCUBE_DB_PASSWORD: ${ROUNDCUBE_DB_PASSWORD}
      WORDPRESS_DB_PASSWORD: ${WORDPRESS_DB_PASSWORD}
    networks:
      - network

  wordpress:
    container_name: wordpress
    depends_on:
      - db
    image: wordpress:latest
    ports:
      - "8090:80"
    restart: always
    environment:
      WORDPRESS_DB_HOST: db:3306
      WORDPRESS_DB_USER: wordpress
      WORDPRESS_DB_PASSWORD: ${WORDPRESS_DB_PASSWORD}
      WORDPRESS_DB_NAME: wordpress
    volumes:
      - wordpress_data:/var/www/html
      #- ./ports.conf:/etc/apache2/ports.conf:ro
    networks:
      - network

# https://github.com/dockur/samba/blob/master/compose.yml
  samba:
    image: dockurr/samba
    container_name: samba
    environment:
      NAME: "Data" # Folder name
      USER: "samba" # user name
      PASS: "$SAMBA_PASSWORD"
      # Read and Write
      RW: true      # Optional, default true
      UID: 1000    # Optional, default 1000
      GID: 1000    # Optional, default 1000
    ports:
      - 445:445
    volumes:
      - ./samba:/storage
    restart: always

  jellyfin:
    image: jellyfin/jellyfin:latest
    container_name: jellyfin
    user: 1000:1000
    ports:
      - 8096:8096
    volumes:
      - ./config:/config
      - ./cache:/cache
      - ./samba/media:/media:ro  # Media file location
    restart: unless-stopped

# https://blog.estampie.work/archives/3343
# https://docker-mailserver.github.io/docker-mailserver/latest/usage/
  mailserver:
    image: docker.io/mailserver/docker-mailserver:latest
    container_name: mailserver
    env_file: mailserver.env
    hostname: mail.lovekapibarasan.org
    ports:
      - "25:25"      # SMTP
      - "143:143"    # IMAP
      - "587:587"    # Submission
      - "465:465"    # SMTPS
      - "993:993"    # IMAPS
    volumes:
      - ./data/maildata:/var/mail # mail data
      - ./data/mailstate:/var/mail-state
      - ./data/maillogs:/var/log/mail # logs
      - ./config:/tmp/docker-mailserver
      - /etc/localtime:/etc/localtime:ro
      - /etc/letsencrypt:/etc/letsencrypt:ro
    cap_add:
      - NET_ADMIN
    environment:
      - SSL_TYPE=manual  # ← letsencrypt
      - SSL_CERT_PATH=/etc/letsencrypt/live/lovekapibarasan.org/fullchain.pem
      - SSL_KEY_PATH=/etc/letsencrypt/live/lovekapibarasan.org/privkey.pem
      - TLS_LEVEL=intermediate
    restart: always
    stop_grace_period: 1m
    healthcheck:
      test: "ss --listening --ipv4 --tcp | grep --silent ':smtp' || exit 1"
      timeout: 3s
      retries: 5
    networks:
      - network

  roundcube:
    image: roundcube/roundcubemail:latest
    container_name: roundcube
    ports:
      - "8085:80"
    environment:
      ROUNDCUBEMAIL_DB_TYPE: mysql # MariaDB is originated from mySQL
      ROUNDCUBEMAIL_DB_HOST: db
      ROUNDCUBEMAIL_DB_USER: roundcube
      ROUNDCUBEMAIL_DB_PASSWORD: ${ROUNDCUBE_DB_PASSWORD}
      ROUNDCUBEMAIL_DB_NAME: roundcube
      ROUNDCUBE_OAUTH_GOOGLE_CLIENT_ID: $GOOGLE_CLIENT_ID
      ROUNDCUBE_OAUTH_GOOGLE_CLIENT_SECRET: $GOOGLE_CLIENT_SECRET
    depends_on:
      # - mailserver
      - db
    networks:
      - network
    restart: unless-stopped
    volumes:
       - ./roundcube/config:/var/www/html/config
    # config/config.docker.inc.php


  open-webui:
    image: ghcr.io/open-webui/open-webui:main
    container_name: open-webui
    ports:
      - "3002:8080"
    volumes:
      - open-webui:/app/backend/data
    restart: always

  tts-azure-web:
    container_name: tts-azure-web
    build: ./tts-azure-web
    ports:
      - "3003:3000"
    environment:
      - SPEECH_KEY=${SPEECH_KEY}
      - SPEECH_REGION=${SPEECH_REGION}
      - DEMO_MODE=false

  nextcloud:
    image: nextcloud:latest
    container_name: nextcloud
    restart: always
    ports:
      - "8089:80"
    volumes:
      - nextcloud_data:/var/www/html
    environment:
      MYSQL_HOST: db
      MYSQL_DATABASE: nextcloud
      MYSQL_USER: nextcloud
      MYSQL_PASSWORD: $NEXTCLOUD_DB_PASSWORD
      NEXTCLOUD_ADMIN_USER: $NEXTCLOUD_ADMIN_USER
      NEXTCLOUD_ADMIN_PASSWORD: $NEXTCLOUD_ADMIN_PASSWORD
      NEXTCLOUD_TRUSTED_DOMAINS: localhost 127.0.0.1 nextcloud.lovekapibarasan.org
    depends_on:
      - db
    networks:
      - network

# https://hub.docker.com/r/jeankhawand/anki-sync-server


  portainer:
    image: portainer/portainer-ce:latest
    container_name: portainer
    restart: always

    ports:
      - "9000:9000"     # Web UI（HTTP）
      - "8000:8000"     # Edge Agent
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - portainer_data:/data

# Obsidian + MkDocs + Samba
  mkdocs:
    image: squidfunk/mkdocs-material
    container_name: mkdocs
    volumes:
      - ./samba/memo:/docs
    ports:
      - "8020:8000"
    command: serve -a 0.0.0.0:8000

# Watch and collect metrics data
  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus_data:/prometheus
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
    ports:
      - "9090:9090"
    restart: always
    networks:
      - network

  node_exporter:
    image: prom/node-exporter:latest
    container_name: node_exporter
    ports:
      - "9100:9100"
    restart: always
    networks:
      - network

  cadvisor:
    image: gcr.io/cadvisor/cadvisor:v0.49.1
    container_name: cadvisor
    privileged: true
    ports:
      - "8080:8080"
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:ro
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
    networks:
      - network
    restart: always


# Visualize
  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=$GRAFANA_PASSWORD
      - GF_USERS_ALLOW_SIGN_UP=false
      - GF_SERVER_ROOT_URL=http://grafana.lovekapibarasan.org
    restart: always
    depends_on:
      - prometheus
      - loki  
    volumes:
      - grafana-storage:/var/lib/grafana
    networks:
      - network

# log management
  loki:
    image: grafana/loki:2.9.2
    container_name: loki
    command: -config.file=/etc/loki/local-config.yaml
    ports:
      - "3100:3100"
    volumes:
      - loki-data:/loki
      - ./loki/local-config.yaml:/etc/loki/local-config.yaml:ro
    restart: always
    networks:
      - network

# log collector
  promtail:
    image: grafana/promtail:2.9.2
    container_name: promtail
    volumes:
      - /var/lib/docker/containers:/var/lib/docker/containers:ro
      - /var/log:/var/log:ro
      - ./promtail/promtail.yml:/etc/promtail/promtail.yml
    command: -config.file=/etc/promtail/promtail.yml
    depends_on:
      - loki
    restart: always
    networks:
      - network

volumes:
  valkey-data2:
  searxng-data:
  db_data:
  wordpress_data:
  open-webui:
  nextcloud_data:
  anki_data:
  portainer_data:
  prometheus_data:
  grafana-storage: {}
  loki-data:
  pihole:
  vw-data:

networks:
  network:
    driver: bridge
