[Unit]
Description=WayVNC server
After=graphical.target

[Service]
ExecStart=/usr/bin/wayvnc --config=%h/.config/wayvnc/config
Restart=always
Environment=WAYLAND_DISPLAY=%E{WAYLAND_DISPLAY}
Environment=XDG_RUNTIME_DIR=%E{XDG_RUNTIME_DIR}

[Install]
WantedBy=default.target
