[Unit]
Description=Pi-hole Docker Container
After=docker.service
Requires=docker.service

[Service]
Restart=always
WorkingDirectory=/opt/pihole
ExecStart=/usr/bin/docker compose -f /opt/pihole/docker-compose.yml up -d
ExecStop=/usr/bin/docker compose -f /opt/pihole/docker-compose.yml stop
WorkingDirectory=/opt/pihole

[Install]
WantedBy=multi-user.target
