[Unit]
Description=WireGuard Endpoint Reconnect
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/DDNS_client.sh
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target