[Unit]
Description=patrol
After=network.target

[Service]
WorkingDirectory=/opt/patrol
ExecStart=/opt/patrol/patrol
Restart=always
RestartSec=30
User=root
Group=root

[Install]
WantedBy=multi-user.target
