http:
  routers:
    password-router:
      rule: "Host(`password.lovekapibarasan.org`)"
      entryPoints: ["websecure"]
      service: password-service
      tls:
        certResolver: le

    expense-router:
      rule: "Host(`expense.lovekapibarasan.org`)"
      entryPoints: ["websecure"]
      service: expense-service
      tls:
        certResolver: le
    
    docker-router:
      rule: "Host(`docker.lovekapibarasan.org`)"
      entryPoints: ["websecure"]
      service: docker-service
      tls:
        certResolver: le

    anki-router:
      rule: "Host(`anki.lovekapibarasan.org`)"
      entryPoints: ["websecure"]
      service: anki-service
      tls:
        certResolver: le    

    log-router:
      rule: "Host(`log.lovekapibarasan.org`)"
      entryPoints: ["websecure"]
      service: log-service
      tls:
        certResolver: le
    
  services:
    password-service:
      loadBalancer:
        servers:
          - url: "http://10.10.0.2:8085"
    
    docker-service:
      loadBalancer:
        servers:
          - url: "http://10.10.0.2:8092"

    expense-service:
      loadBalancer:
        servers:
          - url: "http://10.10.0.2:8096"
    
    anki-service:
      loadBalancer:
        servers:
          - url: "http://10.10.0.2:9003"

    log-service:
      loadBalancer:
        servers:
          - url: "http://10.10.0.7:8094"
