http:
  routers:
    # 名前をそれぞれバラバラにします
    anki-router:
      rule: "Host(`anki.lovekapibarasan.org`)"
      entryPoints: ["websecure"]
      service: local-service
      tls:
        certResolver: le

    log-router:
      rule: "Host(`log.lovekapibarasan.org`)"
      entryPoints: ["websecure"]
      service: log-service
      tls:
        certResolver: le

    expense-router:
      rule: "Host(`expense.lovekapibarasan.org`)"
      entryPoints: ["websecure"]
      service: expense-service
      tls:
        certResolver: le
  services:
    # ここでそれぞれのポートを正しく指定します
    anki-service:
      loadBalancer:
        servers:
          - url: "http://10.10.0.2:9003"

    expense-service:
      loadBalancer:
        servers:
          - url: "http://10.10.0.2:XXXX" # ←ここをExpenseのポート番号に変えてください

    log-service:
      loadBalancer:
        servers:
          - url: "http://10.10.0.7:8094"
