http:
  routers:
    search-router:
      rule: "Host(`search.lovekapibarasan.org`)"
      entryPoints: ["websecure"]
      service: search-service
      tls:
        certResolver: le

    pihole-router:
      rule: "Host(`pihole.lovekapibarasan.org`)"
      entryPoints: ["websecure"]
      service: pihole-service
      tls:
        certResolver: le    

    password-router:
      rule: "Host(`password.lovekapibarasan.org`)"
      entryPoints: ["websecure"]
      service: password-service
      tls:
        certResolver: le
    
    roundcube-router:
      rule: "Host(`roundcube.lovekapibarasan.org`)"
      entryPoints: ["websecure"]
      service: roundcube-service
      tls:
        certResolver: le

    expense-router:
      rule: "Host(`expense.lovekapibarasan.org`)"
      entryPoints: ["websecure"]
      service: expense-service
      tls:
        certResolver: le
    
    docker-router:
      rule: "Host(`docker.lovekapibarasan.org`)"
      entryPoints: ["websecure"]
      service: docker-service
      tls:
        certResolver: le
    
    task-router:
      rule: "Host(`tasks.lovekapibarasan.org`)"
      entryPoints: ["websecure"]
      service: task-service
      tls:
        certResolver: le

    anki-router:
      rule: "Host(`anki.lovekapibarasan.org`)"
      entryPoints: ["websecure"]
      service: anki-service
      tls:
        certResolver: le    

    log-router:
      rule: "Host(`log.lovekapibarasan.org`)"
      entryPoints: ["websecure"]
      service: log-service
      tls:
        certResolver: le
    
    minio-router:
      rule: "Host(`minio.lovekapibarasan.org`)"
      entryPoints: ["websecure"]
      service: minio-service
      tls:
        certResolver: le

  services:
    search-service:
      loadBalancer:
        servers:
          - url: "http://10.10.0.2:8081"
    
    pihole-service:
      loadBalancer:
        servers:
          - url: "http://10.10.0.2:8083"

    password-service:
      loadBalancer:
        servers:
          - url: "http://10.10.0.2:8085"
    
    roundcube-service:
      loadBalancer:
        servers:
          - url: "http://10.10.0.2:8088"
    
    docker-service:
      loadBalancer:
        servers:
          - url: "http://10.10.0.2:8092"

    expense-service:
      loadBalancer:
        servers:
          - url: "http://10.10.0.2:8096"
    
    task-service:
      loadBalancer:
        servers:
          - url: "http://10.10.0.2:8097"
    
    anki-service:
      loadBalancer:
        servers:
          - url: "http://10.10.0.2:9003"

    log-service:
      loadBalancer:
        servers:
          - url: "http://10.10.0.7:8094"
    
    minio-service:
      loadBalancer:
        servers:
          - url: "http://10.10.0.7:9001"
