tcp:
  routers:
    # 8443ポート用のルーター（パススルー設定）
    citrine-ocpp-router:
      # HostSNI(`*`) は全てのTLS通信を通す設定。ドメインを特定するならHostSNI(`core.lovekapibarasan.org`)
      rule: "HostSNI(`core.lovekapibarasan.org`)"
      entryPoints:
        - "wss-port"
      service: citrine-ocpp-service
      tls:
        passthrough: true # ← これが「何もさせるな」の正体

    gitea-ssh-router:
      rule: "HostSNI(`*`)"       # SSHはドメイン名が見えないので * 固定
      entryPoints:
        - "ssh-entry"            # 上で定義した entryPoint 名
      service: "gitea-ssh-service"

    zulip-router:
      rule: "HostSNI(`zulip.lovekapibarasan.org`)"
      entryPoints:
        - "websecure"
      service: zulip-service
      tls:
        passthrough: true # SSL複合せず、Zulip側の証明書をそのまま使う

  services:
    citrine-ocpp-service:
      loadBalancer:
        servers:
          - address: "10.10.0.2:8443"
    gitea-ssh-service:
      loadBalancer:
        servers:
          - address: "10.10.0.7:2224" # GiteaコンテナのSSHポート(通常22)
    zulip-service:
      loadBalancer:
        servers:
          - address: "10.10.0.2:443"

http:
  routers:
    wordpress-router:
      rule: "Host(`lovekapibarasan.org`)"
      entryPoints: [ "websecure" ]
      service: wordpress-service
      tls:
        certResolver: le

    webdav-router:
      rule: "Host(`webdav.lovekapibarasan.org`)"
      entryPoints: [ "websecure" ]
      service: webdav-service
      tls:
        certResolver: le

    directus-router:
      rule: "Host(`directus.lovekapibarasan.org`)"
      entryPoints: [ "websecure" ]
      service: directus-service
      tls:
        certResolver: le
    
    hasura-router:
      rule: "Host(`hasura.lovekapibarasan.org`)"
      entryPoints: [ "websecure" ]
      service: hasura-service
      tls:
        certResolver: le

    citrinecore-router:
      rule: "Host(`core.lovekapibarasan.org`)"
      entryPoints: [ "websecure" ]
      service: citrinecore-service
      tls:
        certResolver: le

    search-router:
      rule: "Host(`search.lovekapibarasan.org`)"
      entryPoints: ["websecure"]
      service: search-service
      tls:
        certResolver: le

    pihole-router:
      rule: "Host(`pihole.lovekapibarasan.org`)"
      entryPoints: ["websecure"]
      service: pihole-service
      tls:
        certResolver: le    

    password-router:
      rule: "Host(`password.lovekapibarasan.org`)"
      entryPoints: ["websecure"]
      service: password-service
      tls:
        certResolver: le
    
    roundcube-router:
      rule: "Host(`roundcube.lovekapibarasan.org`)"
      entryPoints: ["websecure"]
      service: roundcube-service
      tls:
        certResolver: le

    expense-router:
      rule: "Host(`expense.lovekapibarasan.org`)"
      entryPoints: ["websecure"]
      service: expense-service
      tls:
        certResolver: le

    nextcloud-router:
      rule: "Host(`nextcloud.lovekapibarasan.org`)"
      entryPoints: [ "websecure" ]
      service: nextcloud-service
      middlewares:
        - "nextcloud-cors"
      tls:
        certResolver: le
    
    docker-router:
      rule: "Host(`docker.lovekapibarasan.org`)"
      entryPoints: ["websecure"]
      service: docker-service
      tls:
        certResolver: le

    memo-router:
      rule: "Host(`memo.lovekapibarasan.org`)"
      entryPoints: [ "websecure" ]
      service: memo-service
      tls:
        certResolver: le
    
    n8n-router:
      rule: "Host(`n8n.lovekapibarasan.org`)"
      entryPoints: [ "websecure" ]
      service: n8n-service
      tls:
        certResolver: le

    task-router:
      rule: "Host(`tasks.lovekapibarasan.org`)"
      entryPoints: ["websecure"]
      service: task-service
      tls:
        certResolver: le

    backup-router:
      rule: "Host(`backup.lovekapibarasan.org`)"
      entryPoints: [ "websecure" ]
      service: backup-service
      tls:
        certResolver: le

    backupui-router:
      rule: "Host(`backupui.lovekapibarasan.org`)"
      entryPoints: [ "websecure" ]
      service: backupui-service
      tls:
        certResolver: le

    anki-router:
      rule: "Host(`anki.lovekapibarasan.org`)"
      entryPoints: ["websecure"]
      service: anki-service
      tls:
        certResolver: le   

    loki-router:
      rule: "Host(`loki.lovekapibarasan.org`)"
      entryPoints: ["websecure"]
      service: loki-service
      middlewares:
        - "loki-auth"
      tls:
        certResolver: le     

    payment-router:
      rule: "Host(`payment.lovekapibarasan.org`)"
      entryPoints: ["websecure"]
      service: payment-service
      tls:
        certResolver: le
    
    everest-router:
      rule: "Host(`everest.lovekapibarasan.org`)"
      entryPoints: ["websecure"]
      service: everest-service
      tls:
        certResolver: le
    
    opui-router:
      rule: "Host(`opui.lovekapibarasan.org`)"
      entryPoints: ["websecure"]
      service: opui-service
      tls:
        certResolver: le

    login-router:
      rule: "Host(`login.lovekapibarasan.org`)"
      entryPoints: ["websecure"]
      service: login-service
      tls:
        certResolver: le

    rustify-router:
      rule: "Host(`rustify.lovekapibarasan.org`)"
      entryPoints: ["websecure"]
      service: rustify-service
      tls:
        certResolver: le

    rustifyDoc-router:
      rule: "Host(`doc.rustify.lovekapibarasan.org`)"
      entryPoints: ["websecure"]
      service: rustifyDoc-service
      tls:
        certResolver: le

    alloy-router:
      rule: "Host(`alloy.lovekapibarasan.org`)"
      entryPoints: ["websecure"]
      service: alloy-service
      tls:
        certResolver: le

    log-router:
      rule: "Host(`log.lovekapibarasan.org`)"
      entryPoints: ["websecure"]
      service: log-service
      tls:
        certResolver: le

    gitea-router:
      rule: "Host(`gitea.lovekapibarasan.org`)"
      entryPoints: ["websecure"]
      service: gitea-service
      tls:
        certResolver: le

    zot-router:
      rule: "Host(`zot.lovekapibarasan.org`)"
      entryPoints: ["websecure"]
      service: zot-service
      tls:
        certResolver: le

    minio-router:
      rule: "Host(`minio.lovekapibarasan.org`)"
      entryPoints: ["websecure"]
      service: minio-service
      tls:
        certResolver: le

    file-router:
      rule: "Host(`file.lovekapibarasan.org`)"
      entryPoints: [ "websecure" ]
      service: file-service
      tls:
        certResolver: le

    mimir-router:
      rule: "Host(`mimir.lovekapibarasan.org`)"
      entryPoints: ["websecure"]
      service: mimir-service
      middlewares:
        - "mimir-auth"
      tls:
        certResolver: le
    
    pip-router:
      rule: "Host(`pip.lovekapibarasan.org`)"
      entryPoints: ["websecure"]
      service: pip-service
      tls:
        certResolver: le

    npm-router:
      rule: "Host(`npm.lovekapibarasan.org`)"
      entryPoints: ["websecure"]
      service: npm-service
      tls:
        certResolver: le

  services:
    wordpress-service:
      loadBalancer:
        servers:
          - url: "http://10.10.0.2:8086"

    webdav-service:
      loadBalancer:
        servers:
          - url: "http://10.10.0.2:2345"

    directus-service:
      loadBalancer:
        servers:
          - url: "http://10.10.0.2:8055"       

    hasura-service:
      loadBalancer:
        servers:
          - url: "http://10.10.0.2:8078"          

    citrinecore-service:
      loadBalancer:
        servers:
          - url: "http://10.10.0.2:8080"          

    search-service:
      loadBalancer:
        servers:
          - url: "http://10.10.0.2:8081"
    
    pihole-service:
      loadBalancer:
        servers:
          - url: "http://10.10.0.2:8083"

    password-service:
      loadBalancer:
        servers:
          - url: "http://10.10.0.2:8085"
    
    roundcube-service:
      loadBalancer:
        servers:
          - url: "http://10.10.0.2:8088"

    nextcloud-service:
      loadBalancer:
        servers:
          - url: "http://10.10.0.2:8091"
    
    docker-service:
      loadBalancer:
        servers:
          - url: "http://10.10.0.2:8092"

    memo-service:
      loadBalancer:
        servers:
          - url: "http://10.10.0.2:8093"

    n8n-service:
      loadBalancer:
        servers:
          - url: "http://10.10.0.2:8095"

    expense-service:
      loadBalancer:
        servers:
          - url: "http://10.10.0.2:8096"
    
    task-service:
      loadBalancer:
        servers:
          - url: "http://10.10.0.2:8097"

    backup-service:
      loadBalancer:
        servers:
          - url: "http://10.10.0.2:8099"

    backupui-service:
      loadBalancer:
        servers:
          - url: "http://10.10.0.2:8101"
    
    anki-service:
      loadBalancer:
        servers:
          - url: "http://10.10.0.2:9003"

    payment-service:
      loadBalancer:
        servers:
          - url: "http://10.10.0.2:9010"
    
    everest-service:
      loadBalancer:
        servers:
          - url: "http://10.10.0.2:1880"
    
    opui-service:
      loadBalancer:
        servers:
          - url: "http://10.10.0.2:3000"

    login-service:
      loadBalancer:
        servers:
          - url: "http://10.10.0.2:8180"

    rustify-service:
      loadBalancer:
        servers:
          - url: "http://10.10.0.2:8182"

    rustifyDoc-service:
      loadBalancer:
        servers:
          - url: "http://10.10.0.2:8183"

    alloy-service:
      loadBalancer:
        servers:
          - url: "http://10.10.0.2:12347"

    loki-service:
      loadBalancer:
        servers:
          - url: "http://10.10.0.7:3100"

    log-service:
      loadBalancer:
        servers:
          - url: "http://10.10.0.7:8094"

    gitea-service:
      loadBalancer:
        servers:
          - url: "http://10.10.0.7:8102"

    zot-service:
      loadBalancer:
        servers:
          - url: "http://10.10.0.7:8103"
        responseForwarding:
          flushInterval: "900s"
    
    minio-service:
      loadBalancer:
        servers:
          - url: "http://10.10.0.7:9001"

    file-service:
      loadBalancer:
        servers:
          - url: "http://10.10.0.7:9000"
    
    mimir-service:
      loadBalancer:
        servers:
          - url: "http://10.10.0.7:9009"

    pip-service:
      loadBalancer:
        servers:
          - url: "http://10.10.0.7:8105"

    npm-service:
      loadBalancer:
        servers:
          - url: "http://10.10.0.7:8106"

  middlewares:
    loki-auth:
      basicAuth:
        # htpasswd
        usersFile: "/etc/traefik/.htpasswd"

    mimir-auth:
      basicAuth:
        usersFile: "/etc/traefik/.htpasswd"

    nextcloud-cors:
      headers:
        # 許可するオリジン（Super Productivity URL）
        accessControlAllowOriginList:
          - "https://tasks.lovekapibarasan.org"
        # 許可するメソッド（WebDAVに必要なものを網羅）
        accessControlAllowMethods:
          - "GET"
          - "POST"
          - "PUT"
          - "DELETE"
          - "OPTIONS"
          - "PROPFIND"
          - "MKCOL"
          - "COPY"
          - "MOVE"
          - "LOCK"
          - "UNLOCK"
        # 許可するヘッダー
        accessControlAllowHeaders:
          - "Authorization"
          - "Content-Type"
          - "Depth"
          - "User-Agent"
          - "X-File-Size"
          - "X-Requested-With"
          - "If-Modified-Since"
          - "X-File-Name"
          - "Cache-Control"
        accessControlAllowCredentials: true
        accessControlMaxAge: 100
        addVaryHeader: true
